* { margin: 0px; padding: 0px; }

body { font-size: 1em; font-family: 'Trebuchet MS', 'Lucida Sans',  sans-serif; background-color: #DFE0DF;}

/* Area do Cabeçalho */
#area-cabecalho { background-color: #f7b600; padding: 15px; text-align: center; }

.padding-cabecalho { padding: 10px; } 

/* Area Principal */

#area-principal { width: 920px; margin: 0px auto; padding: 15px; }

#area-postagens { width: 660px; float: left; }

#area-lateral { width: 240px; float: right; }

.postagem { padding: 20px; margin-bottom: 20px; background-color: #dfe0df; }

.conteudo-lateral { background-color: #dfe0df; padding: 10px; margin-bottom: 20px; }
