* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 20px 0px;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0px auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* GRID */

.grid01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0px auto;
    grid-gap: 20px;
}

.grid01 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}