* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: burlywood;
}

main {
    width: 1240px; height: 1640px;
    background-color: #c6c6c6;
    margin: auto;
}

h1 {
    width: 90%;
    margin: 0px auto;
}

.top {
    width: 90%; height: 29%;
    display: flex;
    margin: 0px auto;
}

.div01 {
    width: 68%;
    background-color: rgb(0, 115, 115);
}

.div02 {
    width: 32%;
    background-image: url(img/img01.jpg);
}

.meio {
    width: 90%; height: 29%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.div03 {
    width: 32%;
    background-color: rgb(0, 115, 115);
}

.div04 {
    width: 32%;
    background-color: azure;
}

.div05 {
    width: 32%;
    background-image: url(img/img02.jpg);
}

.bottom {
    width: 90%; height: 29%;
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-areas:
        "div06 div07"
        "div08 div07"
    ;
    margin: 0px auto;
}

.div06 {
    grid-area: div06;
    background-image: url(img/img03.jpg);
    margin-right: 20px;
}

.div07 {
    grid-area: div07;
    background-color: black;
}

.div08 {
    grid-area: div08;
    background-color: azure;
    margin-right: 20px
}