html {
	font-family: Helvetica, sans-serif;
}

.banner {
    background: url('../images/capa2.jpg'); background-size: cover; background-position: center; width: 100vw; height: 100vh;
}

.div__opacity_1 {
    background-color: rgba(0, 0, 0, 0.8);
}

.div__opacity {
    background-color: rgba(223, 223, 223, 0.9); height: 180px;
}

.div__box_1 {
    width: 400px; height: 200px; position: absolute; right: 90px; top: 140px; 
}

.div__margin {
    margin: 30px 10%;
}

.ger__box {
    background-color: #2364aa; width: 215px; height: 150px;
}

.dev__box {
    background-color: #3da5d9; width: 215px; height: 150px;
}

.des__box {
    background-color: #73bfb8; width: 215px; height: 150px;
}

.h3__color_ger {
    color: #2364aa;
}

.h3__color_dev {
    color: #3da5d9;
}

.h3__color_des {
    color: #73bfb8;
}

.footer__banner {
    background: url('../images/rodape.jpg'); background-position: center; width: 100vw; height: 1100px;
}

.footer__div_size {
    width: 324px; height: 248px;
}

.bi {
    color: #aaaaaa; font-size: 50px;
}

.footer__p_align {
    text-align: justify;
}

.div__opacity_2 {
    background-color: rgba(255, 255, 255, 0.8);
}

div input, div textarea {
    width: 400px; display: block; border: none; padding: 10px; margin-bottom: 15px; border-bottom: 1px solid #aaaaaa; border-radius: 0px; background-color: transparent;
}

.btn__align {
    margin-left: 60%;
}

.footer__p_shadow {
    text-shadow: 1px 1px white;
}