:root {
    --azul: #0c8195;
    --branca: #ffffff;
    --amarelo: #f1c111;
    --azul-claro: #c9e6ff;
}

* {
    margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

.header__nav {
    height: 100px; display: grid; color: var(--branca);
    grid-template-columns: 450px 400px;
    justify-content: space-around;
    align-content: center;
    background-color: var(--azul);
}

#header__h1 {
    font-weight: lighter;
    font-size: 3rem;
}

#header__ul {
    font-weight: bold; font-size: 1.1rem; display: grid;
    grid-template-columns: 180px 150px;
    grid-template-rows: 50px;
    align-items: center;
    list-style: none;
}

.header__li {
    width: 150px; height: 40px; color: var(--amarelo);
    border: 3px solid var(--amarelo); font-weight: bold; font-size: 18px; 
    border-radius: 100px;
    text-align: center; padding: 7px;
    box-sizing: border-box;
    background: transparent;
}

#modal {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: none; background-color: rgba(0, 0, 0, .8);
}

#modal__container {
    background-color: var(--branca); border: 3px solid var(--azul); border-radius: 10px; 
    margin: 0px auto;
    margin-top: 5%;
    max-width: 600px; max-height: 600px;
    padding: 0px;
    box-shadow: 0 0 2px var(--branca);
    display: grid; grid-template-columns: 1fr; justify-items: center;
}

.modal__header {
    color: var(--azul);
    display: grid; grid-template-columns: 300px 20px;
    justify-content: space-between;
}

.modal__body {
    display: grid; grid-template-columns: 1fr; grid-row-gap: 20px;
}

.modal__item, .modal__item::placeholder {
    color: var(--azul); font-weight: bold; padding: 5px;
    border-color: var(--azul); font-size: 16px; width: 250px;
}

.header__banner {
    color: var(--azul); display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    justify-items: center;
}

.img__banner {
    width: 550px; height: 400px;
}

#item01 {
    font-size: 1.5rem; font-weight: bold;
    align-self: flex-end;
    grid-row-start: 1; grid-row-end: 2;
}

#item02 {
    font-size: 1.2rem; background-color: var(--branca);
    color: var(--azul); border-radius: 100px; width: 250px; height: 80px; border-color: var(--azul);
    align-self: center;
    grid-row-start: 2; grid-row-end: 3;
}

.popup__button {
    display: inline-block; position: relative; cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none;
}

.popup__texto {
    visibility: hidden;
    width: 350px; background-color: var(--azul); color: var(--branca); text-align: justify; border-radius: 10px; padding: 8px 10px; position: absolute; z-index: 1; bottom: -100%; left: 50%; margin-left: -50px;
}

.popup__button .show {
    visibility: visible;
}

#item03 {
    font-size: 1.1rem; font-weight: bold;
    grid-row-start: 3; grid-row-end: 4;
}

.main__container {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}

.img__figure {
    width: 635px; height: 312px;
}

.section__main {
    display: grid; grid-template-columns: 1fr; justify-items: center;
}

.img__section {
    width: 314px; height: 200px; border-radius: 15px;
}
